.card {
  border: 1px solid;
  width: 250px;
  display: inline-block;
  margin: 0 5px 10px 0;
  border-radius: 3em;
  vertical-align: top;
  padding: 5px;
  text-align: center;
  background-color: #E3D5B2;
}

.card ul{
  margin: 0;
  padding: 0;
  width: 135px;
  margin: auto;
}

.card li {
  list-style-type: none;  
  padding: 2px 20px;
  text-align: left;
}

.higher{
  color: #535C78;
}

.lower {
  color: red;
}