.container-wrap {
  background-color: #0A1B34;
  display: flex;
  flex-wrap: wrap;
  height: 675px;
  justify-content: space-evenly;
  overflow: scroll;
  width: 100%;
}

.container-wrap h2{
  color: #7087A8;;
  font-size: 2em;
  margin: 0;
  padding: 0px 0px 25px;
}
