

.comparison-cards {
  text-align: center;
  width:100vw;
  border-bottom: 1px solid grey;
  position: fixed;
  opacity: 1;
  transition: all .3s;
}

.comparison-cards.hide {
  transform: translateY(-100vw);
  opacity: 0;
}

.comparison-cards.show {
  transform: translateY(0);
  display: block;
  background-color: rgba(0, 0, 0, 0.85);
}
 

.comparison-cards h1 {
  color: #7087A8;
  font-size: 2em;
  margin: 0;
  padding: 25px 0px 0px;
  font-family: 'Playfair Display', serif;

}

.comp-card {
  font-size: 1em;
  font-weight: normal;
}

.comp-card-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.close-compare{
  position: absolute;
  left: 0;
}

.drag-prompt{
  position: absolute;
}

.comparison {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

