.comparison-cards {
  background-color: #0A1B34;
  height: 450px;
  text-align: center;
  width:100%;
}

.comparison-cards h1 {
  color: #7087A8;
  font-size: 2em;
  margin: 0;
  padding: 25px 0px 0px;
}

.comp-card {
  font-size: 1em;
  font-weight: normal;
}

.comp-card-display {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.comparison {
  color: #ffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.comparison-cards .card {
  background-color: #5C7BA8
}

hr {
  border-top: 3px double #ffff;
}